registry=https://npm.bsolut.com/
//npm.bsolut.com/:_password="aW5zZWN1cmU="
//npm.bsolut.com/:username=docker
//npm.bsolut.com/:email=docker@bsolut.com
//npm.bsolut.com/:always-auth=true
//npm.bsolut.com/:_authToken="EWvssAYvjPjxNNbyprJElQ=="